
.main-frame{
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
}
.title{
    width: 200px;
    margin: auto;

}
li{
    height: 50px;
    padding: 25px;
}
body{
    background-color: lightgray;
}

button {
    border: none;
}
input{
    border: none;
}